.footer {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
}

.footer h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}
.footer a{
    text-decoration: none;
    color: var(--branco);
    
}
.footer a:hover{
    color: var(--hoverAzul);
}