.footer {
    display: flex;
    justify-content: center;
    background-color: var(--black);

}

.footer h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--write);
}
.footer a{
    text-decoration: none;
    color: var(--write);
    
}
.footer a:hover{
    color: var(--hoverAzul);
}
@media screen and (min-width:768px){
    .footer{
       
    }
}