:root{
  --font: 'Montserrat', sans-serif;
  --write: #FFFFFF;
  --black: #000000;
  --gray: #E2E2E2;
  --hoverAzul:rgb(61, 113, 255);
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--write);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
